    /* #region --- Base Styles --- */
    *{
        margin: 0;
        padding: 0;
    }

    /* For browsers that support clamp  */
    @supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
            --fs-sm: clamp(0.7rem, 0.11vi + 0.68rem, 0.84rem);
            --fs-base: clamp(0.88rem, 0.18vi + 0.83rem, 1.13rem);
            --fs-md: clamp(1.09rem, 0.3vi + 1.02rem, 1.5rem);
            --fs-lg: clamp(1.37rem, 0.46vi + 1.26rem, 2rem);
            --fs-xl: clamp(1.71rem, 0.7vi + 1.54rem, 2.66rem);
            --fs-xxl: clamp(2.14rem, 1.04vi + 1.89rem, 3.55rem);
            --fs-xxxl: clamp(2.67rem, 1.51vi + 2.32rem, 4.73rem);
    }
    }
    /* For browsers that don't support clamp */
    @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
            --fs-sm: 0.7rem;
            --fs-base: 0.88rem;
            --fs-md: 1.09rem;
            --fs-lg: 1.37rem;
            --fs-xl: 1.71rem;
            --fs-xxl: 2.14rem;
            --fs-xxxl: 2.67rem;
    }
    @media screen and (min-width: 2560px) {
        :root {
                --fs-sm: 0.84rem;
                --fs-base: 1.13rem;
                --fs-md: 1.5rem;
                --fs-lg: 2rem;
                --fs-xl: 2.66rem;
                --fs-xxl: 3.55rem;
                --fs-xxxl: 4.73rem;
        }
    }
    }

    :root{
        --background: #000000;
        --background-accent: #222222;
        --primary-text: #FFFFFF;
        --secondary-text: #CFCFCF;
        --accent-one: #689a62;
        --accent-two: #e6af7e;
        --accent-three: #ebe3ad;
        --accent-four: #dfafce;
        --accent-five: #8890DA;
        --accent-six: #88ceda;
        --header-height: 8vh;
    }
    html,
    body{
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;   
        background-color: var(--background);
        color: var(--primary-text);
    }
    body{
        height: calc(100vh - var(--header-height));
        display: flex;
        flex-direction: column;
        margin-top: var(--header-height);
    }

    /* #endregion --- Base Styles --- */
    
    .desktop-wrapper{
        display: block;
    }

    .mobile-wrapper{
        display: none;
    }

    /* #region navbar styles */
    .header-navbar{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: row;
        width: 100%;
        height: var(--header-height);
        box-sizing: border-box;
        background-color: var(--background-accent);
        justify-content: space-between;
        z-index: 1000;
        flex: 0;
    }

    .navbar-title-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 75%;
        margin: auto;
        padding: auto;
        gap: 0.5rem;
    }

    .navbar-profile-pic{
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid var(--primary-text);
    }

    .navbar-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        line-height: 1;
    }

    .navbar-text-container h1{
        font-size: var(--fs-xxl);
    }
    
    .navbar-text-container h2{
        font-size: var(--fs-lg);
        color: var(--accent-one);
    }

    .navbar-buttons-container{
        display: flex;
        width: 75%;
        height: 100%;
        justify-content: flex-end;
    }

    .navbar-item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }

    .navbar-item button,
    .navbar-item .navbar-dropdown button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: none;
        padding: 10px;
        background-color: var(--background-accent);
        color: var(--primary-text);
        cursor: pointer;
        gap: 0.5rem;
        font-size: var(--fs-md);
        text-shadow:
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px 1px 0 #000000,
            1px 1px 0 #000000;
        flex-shrink: 0;
    }

    .navbar-item button:hover,
    .navbar-item .navbar-dropdown .resume-button:hover{
        background-color: var(--accent-one);
    }

    .navbar-item .navbar-dropdown{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .navbar-item .navbar-dropdown .resume-button{
        background-color: var(--accent-five);
        height: var(--header-height);
    }

    .dropdown-menu{
        display: none;
        z-index: 0;
        width: inherit;
        background-color: var(--background-accent);
        border: 1px solid var(--accent-five);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

   .dropdown-menu.active{
        display: flex;
        flex-direction: column;
        z-index: 1001;
    }

    .dropdown-menu .dropdown-item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0px 12px 0px;
        gap: 1.0rem;
        color: var(--primary-text);
        text-decoration: none;
        font-size: var(--fs-md);
        transition: background-color 0.2s ease;
    }

    .dropdown-menu .dropdown-item:hover{
        background-color: var(--background);
    }

    .dropdown-menu .dropdown-item:first-child{
        border-radius: 5px 5px 0 0;
    }

    .dropdown-menu .dropdown-item:last-child{
        border-radius: 0 0 5px 5px;
    }

    .current-page button,
    .current-page .navbar-dropdown button{
        color: var(--accent-two);
    }

    .footer-navbar{
        display: none;
    }
    /* #endregion navbar styles */

    .homepage-content-body{
        display: flex;
        height: auto;
        padding: var(--header-height) 5vw;
        gap: 2vh;
    }

    .content-body{
        display: flex;
        padding: 2vh 5vw;
        gap: 2vh;
        height: auto;
        padding-bottom: calc(var(--header-height) + 2vh);
    }

    .flex-col-override{
        flex-direction: column;
    }
    /* #region color overrides styles */
    .text-green-override{
        color: var(--accent-one);
    }

    .text-orange-override{
        color: var(--accent-two);
    }    

    .text-yellow-override{
        color: var(--accent-three);
    }

    .text-pink-override{
        color: var(--accent-four);
    }

    .text-purple-override{
        color: var(--accent-five);
    }

    .text-blue-override{
        color: var(--accent-six);
    }
    /* #endregion color overrides styles */

    /* #region about-me-section */
    .about-me-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 40%;
        height: 60vh;
        border-right: 5px solid;
        padding: 0 2vw;
        gap: 3vh;
    }

    .about-me-section h1{
        font-size: var(--fs-xxl);
        text-align: center;
    }

    .about-me-section p{
        font-size: var(--fs-md);
    }
    /* #endregion about-me-section */

    /* #region Main Menu */
    .main-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 60vh;
    }

    .main-menu-selection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 1vh;
    }
    .main-menu-selection h1{
        display: flex;
        justify-content: space-around;
        width: 75%;
        font-size: var(--fs-xl);
    }

    .main-menu-selection a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-menu-selection img{
        width: 75%;
        height: auto;
        object-fit: contain;
        aspect-ratio: 2/3;
        border-radius: 20px;
        border: 3px solid var(--accent-five);
        border-radius: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    /* #endregion Main Menu */

    /* #region Page Title */
    .page-title{
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 3px solid;
        padding-bottom: 2vh;
    }
    
    .page-title h1{
        font-size: var(--fs-xl);
    }

     /* #endregion Page Title */

    /* #region Card Styles */
    .project-card{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--background-accent);
        border: 1px solid var(--background);
        border-radius: 10px;
    }
    
    .project-card-title{
        padding: 10px;
        border-bottom: 2px solid #464646;
    }

    .project-card-title h1{
        font-size: var(--fs-lg);
        color: var(--accent-six);
    }

    .project-card-split-container{
        display: flex;
        width: 100%;
    }

    .project-card-inner-content-text{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 10px;
        gap: 3vh;
    }

    .project-card-text-section{
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }

    .project-card-inner-content-visual{
        display: flex;
        width: 50%;
    }

    .project-card-inner-content-visual iframe,
    .project-card-inner-content-visual video{
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 16/9;
        border-radius: 0 0 10px 0;
        border: 0;
    }

    .card-body-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: var(--fs-md);
    }

    .card-body-text ul{
        padding-left: 20px;
    }

    .card-body-source{
        margin-top: auto;
        width: 100%;
    }

    .card-body-source a{
        font-size: var(--fs-lg);
    }

    .card-body-source a:link{
        color: #145eff;
    }

    .card-body-source a:visited{
        color: var(--accent-four);
    }

    .card-body-source a:hover{
        color: var(--accent-one)
    }

    .card-body-source a:active{
        color: var(--accent-six);
    }
    /* #endregion Card Styles */
    
    /* #region pdf Styles */
    .pdf-viewer-container{
        display: flex;
        width: 100%;
        height: calc(80vh - var(--header-height));
        position: relative;
        border: 1px solid var(--background-accent);
        border-radius: 10px;
    }

    .pdf-viewer{
        display: block;
        height: 100%;
        width: 100%;
        /* width: 210mm;
        height: 297mm; */
        margin: auto;
        border: none;
    }
    /* #endregion pdf Styles */

    /* #region slideshow */

    .slideshow{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0 0 10px 0;
        background-color: var(--background);
    }

    .slideshow .slide{
        display: none;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    .slideshow .slide-content{
        height: 100%;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }

    .slide .cover{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .slide-image-caption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8vh;
        background-color: #161616;
    }

    .slide-image-caption p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: var(--fs-lg);
        text-align: center;
        
    }

    .slideshow .slide.active{
        display: block;
    }

    .slideshow .slide-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.55);
        color: white;
        border: none;
        border-radius: 50%;
        width: 3vw;
        height: 3vw;
        cursor: pointer;
        font-size: var(--fs-lg);
    }

    .slideshow .slide-nav.prev{
        left: 10px;
    }

    .slideshow .slide-nav.next{
        right: 10px;
    }
    .slideshow .toggle-slideshow-zoom
    {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
        margin-right: 5px;
        background: rgba(0, 0, 0, 0.55);
        color: white;
        border: none;
        border-radius: 50%;
        width: 3vw;
        height: 3vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--fs-lg);
        z-index: 900;
    }
    /* #endregion slideshow */

    /* #region lighbox */
    .lightbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        z-index: 1001;
        background:#000000;
    }

    .lightbox .slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        height: 100%;
        width: max-content;
    }

    .lightbox .slide .slide-content{
        width: auto;
        min-width: 50vw;
        object-fit: contain;
        height: 70%;
    }

    .lightbox .slide-image-caption{
        width: auto;
        height: 10%;
    }

    .lightbox .slide-image-caption p{
        font-size: var(--fs-xxl);
    }
    
    .lightbox .slide-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(255, 255, 255, 0.75);
        color: black;
        border: none;
        border-radius: 50%;
        width: 3vw;
        height: 3vw;
        cursor: pointer;
        font-size: var(--fs-lg);
    }

    .lightbox .slide-nav.prev{
        left: 10px;
    }

    .lightbox .slide-nav.next{
        right: 10px;
    }

    .lightbox .toggle-slideshow-zoom{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 5px;
        margin-right: 5px;
        background: rgb(255, 255, 255);
        color: black;
        border: none;
        border-radius: 50%;
        width: 3vw;
        height: 3vw;
        cursor: pointer;
        font-size: var(--fs-lg);
        z-index: 900;
    }
    
    /* #endregion lighbox */

    /*Screens 1200px and down*/
    @media screen and (max-width: 1420px)
    {
        .homepage-content-body{
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 2vh 5vw;
            padding-bottom: calc(var(--header-height) + 2vh);
        }

        /* #region about-me-section */
        .about-me-section{
            width: 100%;
            height: auto;
            border-right: none;
            border-bottom: solid 2px;
            gap: 1vh;
            text-align: center;
            padding: 0 2vw;
            padding-bottom: 2vh;
        }

        .about-me-section h1{
            font-size: var(--fs-xxl);
        }

        .about-me-section p{
            font-size: var(--fs-md);
        }
        /* #endregion about-me-section */

        /* #region Main Menu */
        .main-menu{
            width: 100%;
            height: auto;
        }
        .main-menu-selection h1{
            width: 100%;
            font-size: var(--fs-xl);
            text-align: center;
        }

        .main-menu-selection a{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .main-menu-selection img{
            width: 90%;
        }
        /* #endregion Main Menu */
        
        /* #region Navbar */
        .footer-navbar{
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--header-height);
            justify-content:space-between;
            background-color: var(--background-accent);
            z-index: 1000;
        }

        .navbar-buttons-container {
            width: 50%;
        }

        .header-navbar .navbar-item:not(:has(.navbar-dropdown)) {
            display: none;
        }

        .navbar-title-container {
            width: 50%;
            border-right: none;   
        }

        .navbar-item:has(.navbar-dropdown) {
            width: 100%;
        }

        .navbar-item {
            width: 33%;
        }
        /* #endregion Navbar */

        .project-card-split-container{
            display: flex;
            flex-direction: column-reverse;
        }

        .project-card-inner-content-visual{
            display: flex;
            width: 100%;
        }
        
        .project-card-inner-content-text{
            width: auto;
        }

        .project-card-inner-content-visual iframe{
            border-radius: 0;
        }

        .slideshow .slide-nav{
            top: 45%;
            width: 7vw;
            height: 7vw;
            font-size: var(--fs-xl);
        }

        .slideshow .toggle-slideshow-zoom
        {
            width: 7vw;
            height: 7vw;
            font-size: var(--fs-xl);
        }

        

        .lightbox .slide-nav, 
        .lightbox .toggle-slideshow-zoom{
            width: 6vw;
            height: 6vw;
            font-size: var(--fs-xl); 
        }

        .lightbox .slide{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        .lightbox .slide-image-caption p{
            font-size: var(--fs-xl);
        }
    }
    
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        
        .homepage-content-body{
            flex-direction: column-reverse;
        }

        .navbar-text-container h1 {
            font-size: var(--fs-md);
        }

        .navbar-text-container h2 {
            font-size: var(--fs-base);
        }
        
        .navbar-item button,
        .navbar-item .navbar-dropdown button{
            font-size: var(--fs-base);
        }
        
        /* #region about-me-section */
        .about-me-section{
            border: none;
        }

        .about-me-section h1{
            font-size: var(--fs-xl);
        }

        .about-me-section p{
            font-size: var(--fs-base);
        }

        /* #endregion about-me-section */

        .card-body-text p, .card-body-text a{
            font-size: var(--fs-base);
        }

        .slideshow .slide-nav, .lightbox .slide-nav{
            top: 45%;
            width: 9vw;
            height: 9vw;
            font-size: var(--fs-lg);
        }

        .slideshow .toggle-slideshow-zoom, 
        .lightbox .toggle-slideshow-zoom
        {
            width: 9vw;
            height: 9vw;
            font-size: var(--fs-lg);
        }
  
        .main-menu{
            padding-top: 0;
            padding-bottom: 2vh;
            border-bottom: solid 2px;
        }
        
        .main-menu-selection h1{
            font-size: var(--fs-lg);
        }

        .slide-image-caption p{
            font-size: var(--fs-base);
        }

        .lightbox .slide-image-caption p{
            font-size: var(--fs-md);
        }
    }

    @media only screen and (max-height: 800px) {
        :root{
            --header-height: 10vh;
        }
        .navbar-text-container h1 {
            font-size: var(--fs-md);
        }

        .navbar-text-container h2 {
            font-size: var(--fs-base);
        }
    }
